* {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

header {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: pink;
}

header nav {
    display: flex;
}

nav input {
    height: 2rem;
    width: 2rem;
}

header nav .menu {
    display: none;
}

header nav .toggler {
    position: absolute;
    top: 2rem;
    right: 2rem;
    opacity: 0.4;
    z-index: 2;
}

.dropMenu {
    height: 2rem;
    width: 2rem;
    padding: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropMenu .hamburgerWrap {
    position: relative;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: #555555;
}

.hamburgerWrap::before, 
.hamburgerWrap::after {
    content: '';
    position: absolute;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    top: -7px;
    background-color: #555555;
}

.hamburgerWrap::after {
    top: 7px;
}

